@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');


@media screen {
/*****************************************************
PAGE SETUP
*****************************************************/

#sheetrock {
  display:none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
  background-color: #fefefe;
  font-size: 15px;
  width:100%;
}


.container {
  max-width: 50rem;
  margin: 0 auto;
  clear:both;
}

.page-content h1 {
  font-family: 'Fredericka+the+Great', serif;
  color: #333;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 1em;
}

.page-content h2 {
  font-family: 'Fredericka+the+Great', serif;
  color: #555;
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 1em;
}


/*****************************************************
TYPOGRAPHY
*****************************************************/

h1, h2, h3, h4, h5 {
  font-family: 'Fredericka+the+Great', serif;
  text-align:left;
  margin: 3rem 0 .4rem 0;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom:1em;
}

.home-title h1 {
  font-family: 'Abril Fatface', sans-serif;
  color:#fff;
  font-size: 3rem;
  margin-top: -1.2em;
  margin-bottom: .2em;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0rem;

}

h4 {
  font-size:1.2rem;
}

h5 {
  text-transform:uppercase;
  font-size:1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  clear:both;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  margin-bottom: 1.5em;
}


p.abstract {
  border:1px solid gray;
  background-color: #e5d3bb;
  padding:2em;
  font-size: 90%;
  margin: 3em 0 4em 0em;
}

p.author {
  margin: .5em 0 0em 0;
  text-align: center;
  text-transform: uppercase;
  color:#666;
}

blockquote {
  margin: -1em 4em 1em 4em;
  font-size: 90%;
  border:none;
}

a {
  color: #005999;
  font-weight:bold;
}

a:visited {
 color: #44136c;
}

a:hover {
  text-decoration:none;
}


ul {
  margin-bottom:1rem;
}

li {
  margin-bottom:.4rem;
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}

.full-width {
  margin-bottom:2rem;
}

.full-width p {
  width:100%;
  padding: 0 15%;
  margin:0;
  font-style: italic;
}

.highlight {
  background-color:#ccc;
}


/*****************************************************
ToC ROWS
*****************************************************/

.toc-row {
  background: #fff;
  border-radius: 12px;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-bottom: 1rem;
  border-bottom:2px solid #eee;
}

.toc-row a {
  text-decoration: none;
  color: inherit;
}

.toc-row:hover {
  background-color: #f5f5f5;
  transition: background 0.2s;
  cursor: pointer;
}

.toc-row .row {
  align-items: center;
}

.toc-row img.card-image {
  object-fit: cover;
  height: 100%;
  max-height: 16rem;
  width: 100%;
}

.toc-row .card-body {
  padding: 0rem 0rem;
}

.toc-row .card-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #222;
}

.toc-row .card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0;
}



/*****************************************************
PODCASTS
*****************************************************/

/* Add to your main.css or podcasts.css */
.profile-container {
  max-width: 700px;
  margin: 2rem auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  font-family: 'Open Sans', Arial, sans-serif;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-photo {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
  border: 2px solid #eee;
}

.profile-info {
  flex: 1;
}

.profile-name {
  font-size: 2rem;
  margin: 0;
  color: #222;
}

.profile-role {
  font-size: 1.2rem;
  color: #666;
  margin: 0.5rem 0;
}

.profile-location {
  font-size: 1rem;
  color: #888;
}

.profile-bio {
  margin-bottom: 2rem;
  color: #444;
}


/*****************************************************
PULLQUOTES
*****************************************************/


aside {
  border-top: 2px solid darkgrey;
  border-bottom: 2px solid darkgrey;
  margin: 1rem 0 1rem 0;

  p {
    font-size: 120%;
    line-height: 120%;
    text-align: justify;
    padding: 0;
    margin: 0;
  }

}

/* mobile-first design css */
.pullquote {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  color: #486B76;
  margin: 1em auto;
  padding: 1em 0 1em 0;
}

/* tablet styles */
@media screen and (min-width: 34em) {
  .pullquote {
    float: left;
    width: 50%;
    padding: 1.2em 0 1.2em 0;
    margin: .8em 2em .8em 0;
  }
}

/* desktop styles */
@media screen and (min-width: 58em) {
  .pullquote {
    margin-left: -15%;
  }

  aside.right {
    margin-left: 0;
    left: 0;
    width: 100%;
  }

  aside p {
    margin: 0;
  }

}

/*****************************************************
IMAGES
*****************************************************/

figure {
  margin-bottom:0;
  clear:none;
  margin:none;
  /* no bottom padding; handled with caption */
}

.right {
  float:right;
  padding:0 0px 0px 2rem;
  text-align:left;
  margin-right:0px;
}

.left {
  float:left;
  padding:0 2rem 0px 0px;
  margin-left:0px;
}

.center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

figcaption {
  color:#888;
  font-family: 'Oxygen', sans-serif;
  display:block;
  font-size:.8rem;
  margin:.4rem 0 1rem 0;
  clear:both;
  line-height: 1.1rem;
}

figcaption.right {
  text-align: justify;
  padding:0 0px 0px 0rem;
}

figcaption.left {
  text-align: justify;
  padding:0;
}

figcaption.center {
  text-align:justify;
  padding:0;
}

figcaption p {
  margin:0;
  padding:0;
  line-height: 1.2rem;
  font-size:.8rem;
}

figcaption a {
  opacity:.5;
  font-weight:normal;
}

footer {
  margin-top:2em;
  padding: 2em;
  background-color: #823b3b;
  color:#ccc;
  text-align: center;
}


/*****************************************************
DIRECTORY CARDS
*****************************************************/

.card {
  opacity:.8;
  min-height: 15rem;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}


.card:hover {
  background:#eee;
  opacity:1;
  transform: scale(1.05); /* Slightly enlarge the card */
}

.card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 15rem;
}

.card-img-top {
  height:15rem;
}

.card h3 {
font-family: 'Open Sans';
font-size: 1.5rem;
font-weight: bold;
margin: .5rem 0 1rem 0;
}

.card-text {
font-size: 1rem;
font-weight: normal;
}

.card  a {
  opacity:1;
  color:#000;
  text-decoration: none;
  border-bottom:0px
}


/*****************************************************
IMAGE CAROUSEL
*****************************************************/

.slick-slide img {
  padding:0 2rem;
}

.slick-prev:before, .slick-next:before { font-family: FontAwesome; font-size: 40px; line-height: 1; color: gray; opacity: 0.5; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev:before { content: "\f053"; margin-right:5rem;}
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }

.carousel img{
  max-width:100%;
}

p.carousel-caption {
  color:black;
  text-align:left;
  font-face:'Open Sans';
  font-size:1.4rem;
  text-shadow:none;
  border:0px solid black;
  line-height:1.8rem;
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  z-index: 2;
  color:#666;
  padding:0;
  margin:.5rem 0 0 2rem;
}

/*****************************************************
SIDEBAR
*****************************************************/

/* Sidebar styles */
.sidebar {
  position: fixed;
  width: 250px;
  height: calc(100% - 60px); /* Adjust height to account for navbar */
  top: 60px; /* Offset to start below the navbar */
  left: 0;
  background-color: #f8f9fa;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Profile section */
.sidebar .profile {
  padding: 20px;
  text-align: left;
}

.sidebar .profile img {
  max-width: 100%;
  border-radius: 50%;
}

/* Profile description */
.sidebar .profile p {
  text-align: left; /* Align text to the left */
  padding: 10px;
  font-size: 14px;
  color: #555;
}
/* Profile header */
.sidebar .profile h2 {
  text-align: left; /* Align text to the left */
  padding: 10px;
  font-size: 1.2rem;
  color: #555;
}

/* Links section */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #e9ecef;
  color: #000;
}

} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/

  @media (max-width: 768px) {


  main {
    margin: 0 1.5%;
  }

.lg-left-col p{
  width:100%;
}

  aside {
  position:relative;
  width:100%;
  padding: .4em;
  border:1px solid #ccc;
  background:#fefefe;
  margin-bottom:1em;
  }

aside.aside-right {
  margin-left:0;
  left:0;
  width:100%;
}

aside p{
  margin:0;
}

figure.img-right-col {
  position:relative;
  width: 100%;
  margin: 1rem 0 1rem 0;
}

}

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/** Variables **/

:root {
  --color-background: #e7e7e7;
  --color-background-alt: #888888;
  --color-border-active: #da7105;
  --color-border-default: #d1d1d1;
  --color-highlight: #fdcf4c;
  --color-primary: #b64e08;
  --color-primary-active: #79320e;
  --color-text-default: #262626;
  --color-text-muted: #4f4f4f;

  --font-family-body: "Figtree", system-ui, sans-serif;
  --font-family-display: "Poppins", system-ui, sans-serif;
}

/** Base **/

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-style: normal;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

[type="checkbox"],
[type="radio"],
[type="range"] {
  appearance: none;
  flex-shrink: 0;
  padding: 0;
  user-select: none;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="range"]:focus {
  outline: none;
}

/** Components **/

.fs-form {
  display: grid;
  row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) {
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

fieldset {
  display: grid;
  margin: 1.5rem 0;
  row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) fieldset {
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
}

.fs-fieldset-title {
  color: var(--color-text-default);
  font-family: var(--font-family-display);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  grid-column: 1 / -1;
}

.fs-field {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.fs-label {
  color: var(--color-text-default);
  display: block;
  font-family: var(--font-family-display);
  font-size: 1rem;
  line-height: 1.25rem;
}

.fs-description {
  color: var(--color-text-muted);
  display: block;
  font-size: 1rem;
  line-height: 1.25rem;
}

.fs-button-group {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) .fs-button-group {
  grid-column: 1 / -1;
}

.fs-button {
  background-color: var(--color-primary);
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 2rem;
  transition-duration: 200ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fs-button:hover {
  background-color: var(--color-primary-active);
}

.fs-button:focus-visible {
  background-color: var(--color-primary-active);
  outline: 4px solid var(--color-highlight);
}

.fs-input,
.fs-select {
  appearance: none;
  border-radius: 9999px;
  border-width: 0;
  box-shadow: var(--color-border-default) 0 0 0 1px inset;
  color: var(--color-text-default);
  font-size: 1rem;
  height: 3rem;
  line-height: 1.5rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fs-input:focus-visible,
.fs-select:focus-visible {
  box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-input::placeholder {
  color: var(--color-text-muted);
}

.fs-checkbox-group,
.fs-radio-group {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.fs-checkbox-field,
.fs-radio-field {
  column-gap: 0.5rem;
  display: flex;
}

:is(.fs-checkbox-field, .fs-radio-field) .fs-label + .fs-description {
  margin-top: 0.25rem;
}

.fs-checkbox-wrapper,
.fs-radio-wrapper {
  align-items: center;
  display: flex;
  height: 1.25rem;
}

.fs-checkbox,
.fs-radio {
  background-color: #fff;
  border: 1px solid var(--color-border-default);
  height: 1.25rem;
  width: 1.25rem;
}

.fs-checkbox {
  border-radius: 0.25rem;
}

.fs-radio {
  border-radius: 100%;
}

.fs-checkbox:checked,
.fs-radio:checked {
  background-color: var(--color-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: transparent;
}

.fs-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.fs-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.fs-checkbox:focus-visible,
.fs-radio:focus-visible {
  border-color: var(--color-border-active);
  outline: 4px solid var(--color-highlight);
  outline-offset: 0;
}

.fs-checkbox:checked:focus-visible,
.fs-radio:checked:focus-visible {
  border-color: transparent;
}

.fs-select {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.625em 1.625em;
  padding-right: 2.875rem;
}

.fs-slider {
  background: transparent;
  cursor: pointer;
  height: 1.25rem;
  width: 100%;
}

.fs-slider::-moz-range-track {
  background-color: var(--color-background);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.fs-slider::-webkit-slider-runnable-track {
  background-color: var(--color-background);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.fs-slider::-moz-range-thumb {
  background-color: var(--color-primary);
  border: none; /* Removes extra border that FF applies */
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
}

.fs-slider::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 1.25rem;
  margin-top: -0.375rem; /* Centers thumb on the track */
  width: 1.25rem;
}

.fs-slider:focus-visible::-moz-range-thumb {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.fs-slider:focus-visible::-webkit-slider-thumb {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.fs-switch {
  background-color: var(--color-background-alt);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.75' fill='white'/%3e%3c/svg%3e");
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 1.25rem;
  cursor: pointer;
  height: 1.25rem;
  transition-duration: 200ms;
  transition-property: background-color, background-position;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 2.5rem;
}

.fs-switch:checked {
  background-color: var(--color-primary);
  background-position: right center;
}

.fs-switch:focus-visible {
  outline: 4px solid var(--color-highlight);
  outline-offset: 0;
}

.fs-textarea {
  appearance: none;
  border-radius: 0.75rem;
  border-width: 0;
  box-shadow: var(--color-border-default) 0 0 0 1px inset;
  color: var(--color-text-default);
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  resize: vertical;
}

.fs-textarea:focus-visible {
  box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-textarea::placeholder {
  color: var(--color-text-muted);
}

/** Utilities **/

.col-span-full {
  grid-column: 1 / -1;
}

.fs-textarea::placeholder {
  color: var(--color-text-muted);
}

.slider-label-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
}

.slider-label-text {
  font-size: 0.75rem;
  color: var(--color-text-muted);
  text-align: center;
  white-space: nowrap;
}